.contactus{
    width: 100vw;
    background-color: #f9f6ee;
    height: 100vh;
    
    .navbarcontactus{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 80px;
    }
    
    .lastfootercontactus{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

    }
}